skip_branch_with_pr: true
image: Visual Studio 2019
configuration: Release
install:
#  - choco install gitversion.portable -pre -y
  - choco install gitversion.portable -y --version=4.0.0
  - gitversion /l console /output buildserver
  - choco install opencover.portable
  - choco install codecov
cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml, codecov.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml, codecov.yml
dotnet_csproj:
  patch: true
  file: '**\*.csproj;**\*.props'
  version: '{GitVersion_SemVer}'
  package_version: $(GitVersion_NuGetVersion)
  assembly_version: $(GitVersion_AssemblySemVer)
  file_version: $(GitVersion_AssemblySemFileVer)
  informational_version: $(GitVersion_InformationalVersion)
# assembly_info:
#   patch: false
before_build:
  - dotnet restore
build:
  project: IbanNet.Extensions.Bban.sln
  publish_nuget: true
  publish_nuget_symbols: true
  use_snupkg_format: true
  verbosity: minimal
# after_build:
#   - cmd: ECHO nuget pack <Project>\<NuSpec>.nuspec -version "%GitVersion_NuGetVersion%" -prop "target=%CONFIGURATION%"
#   - cmd: nuget pack <Project>\<NuSpec>.nuspec -version "%GitVersion_NuGetVersion%" -prop "target=%CONFIGURATION%"
#   - cmd: appveyor PushArtifact "<NuSpec>.%GitVersion_NuGetVersion%.nupkg"
test_script:
  - OpenCover.Console.exe -target:"dotnet.exe" -targetargs:"test -c Release /p:DebugType=full -l:trx;LogFilePrefix=testresults" -output:coverage.xml -register:user -returntargetcode -filter:"+[IbanNet*]* -[*Tests]*" -excludebyattribute:*.ExcludeFromCodeCoverageAttribute;*.GeneratedCodeAttribute;*.DebuggerNonUserCodeAttribute;*.CompilerGeneratedAttribute;*.DebuggerHiddenAttribute -oldStyle
  - codecov -f coverage.xml
  - ps: '& .\ci\upload-testresults.ps1'
nuget:
  project_feed: true
#  disable_publish_on_pr: true

# deploy:
# - provider: NuGet
#   api_key:
#     secure: V2QFEs9EHhZ5Fxgocpd0/jKOMhiFx1wXkLqPvs7DxSKJT9vItwFMwNQgI8yP1io+
#   on:
#     branch: /release/.*/
